.label{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.span{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    border-radius: 5px;
}
.span:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.5s;
    border-radius: 50%;;
}
input[type=checkbox]:checked + span:before {
    left: 30px;
}
input[type=checkbox]:checked + span {
    background-color: blue;
}
.block1{
    border: 2px solid black;
    width: 250px;
    height: 250px;
    position: absolute;
    transform: translate(100%, 24%);
}